<div class="quote">
    <%= link_to "\"#{quote.name}\"", quote_path(quote) %>
    <div class="quote_action">
        <%= button_to 'Delete', quote_path(quote), method: :delete, class: 'btn btn-ligth' %>
        <%= link_to 'Edit', edit_quote_path(quote), class: 'btn btn-light' %>
    </div>
</div>